---
preloadCSS: '/css/blog.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
    permalink: '/blog/{{ title | slug }}/index.html'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async">
                        </picture>
                        <span class="blog-author">{{ author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ date | postDate }}</span>
                    </div>
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
                <a class="blog-link" id="shareButton">Compartilhar</a>
            </article>
        </div>
        <!-- End .main-content -->
        <script>
            // Get a reference to the share button
            const shareButton = document.getElementById('shareButton');

            // Add a click event listener to the button
            shareButton.addEventListener('click', () => {
                if (navigator.share) {
                    // Use the Web Share API to trigger the sharing dialog
                    navigator
                        .share({title: 'Shared Content Title', text: 'Shared content description or text', url: 'https://example.com/shared-page-url'})
                        .then(() => {
                            console.log('Shared successfully');
                        })
                        .catch((error) => {
                            alert('Web Share API is not supported in this brxwser');
                            console.error('Error sharing:', error);
                        });
                } else {
                    // Fallback for browsers that don't support the Web Share API
                    //alert('Web Share API is not supported in this brxwser');
                }
            });
        </script>
        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}