---
preloadCSS: '/css/blog.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
    permalink: '/blog/{{ title | slug }}/index.html'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async">
                        </picture>
                        <span class="blog-author">{{ author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ date | postDate }}</span>
                    </div>
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
                <a class="blog-link" id="shareButton">Compartilhar</a>
            </article>
        </div>
        <!-- End .main-content -->

        <script>
            // Get a reference to the share button
            const shareButton = document.getElementById('shareButton');

            // Define the async function outside of the event listener
            async function getShareData() {
                if (!this._imageBlob) {
                    // Fetch the image as a Blob
                    this._imageBlob = await(await fetch(this.document.images[2].currentSrc)).blob();
                }

                // Create a File object for the image
                const imageFile = new File([this._imageBlob], 'image.png', {type: this._imageBlob.type});

                // Create a Blob for the text 'blah'
                const textBlob = new Blob(['blah'], {type: 'text/plain'});

                // Create a File object for the text
                const textFile = new File([textBlob], 'text.txt', {type: textBlob.type});

                return {
                    title: 'teste',
                    files: [imageFile]
                };
            }

            // Define the onShare function
            async function onShare() {
                if (this._isLoading) {
                    return;
                }

                this._isLoading = true;
                try {
                    const data = await getShareData.call(this);
                    await navigator.share(data);
                } catch (error) {
                    alert(`error: ${error.message}`);
                }
                this._isLoading = false;
            }

            // Add an event listener to your share button
            shareButton.addEventListener('click', async () => {
                // Call the onShare function within the event listener
                await onShare.call(this);
            });
        </script>
        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}