---
title: "Novidades"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "blog/"
eleventyNavigation:
  key: Novidades
  order: 500
---

{% extends "layouts/base.html" %}
{% block head %}
  <link rel="stylesheet" href="/css/blog.css"/>

{% endblock %}
{% block body %}

  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <section id="int-hero">
    <h1 id="home-h">Novidades</h1>
    <picture>
      <source
      media="(max-width: 600px)"
      srcset="/assets/images/new-stuff-m.webp"
/>
      <source media="(min-width: 601px)" srcset="/assets/images/new-stuff.webp"/>
      <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
/>
    </picture>
  </section>

  <!-- ============================================ -->
  <!--              Main Blog Content               -->
  <!-- ============================================ -->

  <div class="blog-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content">
      <!-- ============================================ -->
      <!--                 Blog Articles                -->
      <!-- ============================================ -->

      {% if collections.post | length == 0 %}
        <h1>No Recent Posts</h1>
      {% else %}
        {%- for post in collections.post | reverse -%}
          <article class="recent-articles">
            <!--Main Article Image-->
            <picture class="blog-mainImage">
              <img
          src="{{ post.data.image }}"
          alt="{{ post.data.imageAlt }}"
          width="795"
          height="400"
          decoding="async"
/>
            </picture>
            <!--Article Info-->
            <div class="article-group">
              <div class="blog-authorGroup">
                <!--Author Image-->
                <picture class="blog-author-img">
                  <img
              src="/assets/svgs/profile.svg"
              alt="house"
              width="32"
              height="32"
              decoding="async"
/>
                </picture>
                <span class="blog-author">{{ post.data.author }}</span>
                <span aria-hidden="true" class="blog-dot"></span>
                <!--Blog Date-->
                <span class="blog-date">{{ post.date | postDate }}</span>
              </div>
              <h2 class="blog-h1">{{ post.data.title }}</h2>
              <p class="blog-desc">{{ post.data.description }}</p>
              <button class="share-button">Compartilhar</button>
            </div>
          </article>
        {%- endfor -%}
      {% endif %}
    </div>
  </div>
  <script>
    const shareButtons = document.querySelectorAll('.share-button');
    const recentArticlesContainers = document.querySelectorAll('.recent-articles');

    async function getShareData(imageSrc) {
      const imageBlob = await(await fetch(imageSrc)).blob();
      const imageFile = new File([imageBlob], 'image.png', {type: imageBlob.type});
      return {files: [imageFile]};
    }

    async function onShare(imageSrc, text) {
      try {
        const data = await getShareData(imageSrc);
        await navigator.share({
          ...data,
          text
        });
      } catch (error) {
        alert(`error: ${error.message}`);
      }
    }

    recentArticlesContainers.forEach((container, index) => {
      const shareButton = container.querySelector('.share-button');
      const textElement = container.querySelector('.blog-desc');
      const imageElement = container.querySelector('img');

      shareButton.addEventListener('click', async () => {
        const imageSrc = imageElement
          ? imageElement.currentSrc
          : '';
        const text = textElement
          ? textElement.innerText
          : '';

        if (text) {
          navigator
            .clipboard
            .writeText(text);
          alert("Texto copiado para a Área de Transferência!");
        }

        await onShare(imageSrc, text);
      });
    });
  </script>

{% endblock %}