---
title: 'Banco de Conteúdos - Editora Conceito'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Início
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css"/>
    <link rel="stylesheet" href="/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Seja Bem-Vindo(a) ao </span>
                <h1 class="cs-title">Banco de Conteúdos Conceito</h1>
                <p class="cs-text">
Descubra as novidades e explore nosso acervo de postagens prontas. Encontre inspiração e comece agora!                </p>
                <a href="/blog" class="cs-button-solid">Novidades</a>
                <a href="/acervo" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17"/>
                    Acervo
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

{% endblock %}