/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	// Dark Mode Color Scheme
	:root {
		--dark: #000000;
		--darkwaveybg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' stroke-opacity='0.31'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
		--medium: #2c394b;
		--accent: #334756;
	}

	body.dark-mode {
		background-color: var(--dark);
		background-image: var(--darkwaveybg);

		p,
		li,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #fff;
		}

		// hide all light classes
		.light {
			display: none;
		}

		// show all dark classes
		.dark {
			display: block !important;
		}
	}

	.dark {
		display: none;
	}
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#dark-mode-toggle {
			.cs-sun {
				transform: translate(-50%, -50%);
				opacity: 1;
			}

			.cs-moon {
				transform: translate(-50%, -150%);
				opacity: 0;
				fill: #fff;
			}
		}
	}

	#dark-mode-toggle {
		display: block;
		position: absolute;
		top: calc(10 / 16 * 1rem);
		right: calc(70 / 16 * 1rem);
		width: calc(48 / 16 * 1rem);
		height: calc(48 / 16 * 1rem);
		background: transparent;
		border: none;
		overflow: hidden;
		padding: 0;
		z-index: 1000;

		img,
		svg {
			//center image inside button
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: calc(24 / 16 * 1rem);
			height: calc(24 / 16 * 1rem);
			pointer-events: none;
		}

		.cs-moon {
			z-index: 2;
			// Transition properties
			transition: transform 0.3s, opacity 0.3s;

			// fill: yellow; --> uncomment to change the color of the moon if needed
		}

		.cs-sun {
			z-index: 1;
			// Transition property
			transform: translate(-50%, 100%);
			opacity: 0;
			transition: transform 0.3s, opacity 0.3s;
		}
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#dark-mode-toggle {
		position: relative;
		transform: none;
		top: auto;
		right: auto;
		margin: 0;

		&:hover {
			cursor: pointer;
		}
	}
}
